.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000, 0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 50rem;
  color: black;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #455163;

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    &__label {
      font-size: 2rem;
      color: white;
    }
    &__select {
      background-color: #222831;
      color: white;
      border-radius: 0.5rem;
      padding: 1rem 3rem;
      border: 1px solid white;
      font-size: 1.5rem;
      &:focus {
        border: 1px solid #4cd137;
      }
    }
    &__option {
      font-size: 1.5rem;
    }
    &__input {
      padding: 1rem 3rem;
      margin-top: 1rem;
      color: white;
      background-color: #222831;
      border: 1px solid white;
      border-radius: 0.5rem;
    }
    &__button {
      padding: 1rem 3rem;
      margin-top: 1rem;
      color: white;
      background-color: #222831;
      border: 1px solid #4cd137;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: #4cd137;
        color: white;
      }
    }
  }
  &__paragraph {
    margin-top: 5rem;
    font-size: 2rem;
    color: white;
  }
}
.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
